#root{
  background: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.personInfo{
  background: rgb(231 36 153);
  padding: 50px;
  border-radius: 30px;
  margin: 3rem;
  border-style: solid;
  border-color: #0c0c0c5c;
  box-shadow: 0px 0px 20px 13px #e72499a1;
}

.personInfoEasy{
  background: rgb(231, 75, 36);
  padding: 50px;
  border-radius: 30px;
  margin: 3rem;
  border-style: solid;
  border-color: #0c0c0c5c;
  box-shadow: 0px 0px 20px 13px #ff000069;
}
.personInfoMedium{
  background: rgb(49 233 145);
  padding: 50px;
  border-radius: 30px;
  margin: 3rem;
  border-style: solid;
  border-color: #0c0c0c5c;
  box-shadow: 0px 0px 20px 13px #31e99180;
}
.title{
  color: antiquewhite;
}